# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
.idea
__pycache__/
awesome-compose-master/
shell2.py
ssh_client.py
subprocess_shell.py
shell_iteractive.py
.txt
.pub